button.rule-remove{
    margin-left: auto !important;
}

button.ruleGroup-remove {
    margin-left: auto !important;
}

.ruleGroup{
    background-color: rgba(240, 159, 64, 0);
}

/*.ruleGroup-body{*/
/*    display: grid !important;*/
/*    grid-template-columns: auto auto;*/
/*    grid-template-rows: auto auto auto;*/
/*}*/

.IfGroup{
    background-color: rgba(229,231,223, 1);
    border-color: rgba(52, 73, 94,1);
    border-width: 7px;
    margin-left: 140px;
    /*display: grid !important;*/
    /*grid-template-columns: auto auto;*/
    /*grid-template-rows: auto auto auto auto auto;*/
}

.ConditionGroup{
    background-color: rgba(250,235,211,1);
    /*border-color: darkorange;*/
    border-width: 2px;
    /*grid-row-start: 1;*/
    /*grid-row-end: 2;*/
    /*grid-column:1*/
}

.ThenGroup{
    background-color: rgba(115, 198, 182,1);
    /*border-color: green;*/
    border-width: 2px;
    /*grid-row-start: 1;*/
    /*grid-row-end: 2;*/
    /*grid-column:2;*/
}

.ElseGroup{
    background-color: rgba(236, 112, 99,1);
    /*border-color: crimson;*/
    border-width: 2px;
    /*grid-row-start: 2;*/
    /*grid-row-end: 3;*/
    /*grid-column:2;*/
}



