button.rule-remove{
    margin-left: auto !important;
}

button.ruleGroup-remove {
    margin-left: auto !important;
}

.ruleGroup{
    /*color for blue*/
    background-color: rgba(53,119, 255, 0.15);
}